beautifulsoup4==4.6.3
certifi==2018.8.24
chardet==3.0.4
chromedriver-installer==0.0.6
get==1.0.3
idna==2.7
lxml==4.9.1
numpy==1.15.1
panda==0.3.1
pandas==0.23.4
pdfkit==0.6.1
post==1.0.2
public==1.0.3
python-dateutil==2.7.3
pytz==2018.5
query-string==1.0.2
request==1.0.2
requests==2.19.1
selenium==3.14.0
six==1.11.0
urllib3==1.23
Jinja2==2.10
